html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}
body {
 line-height: 1;
}
ol,
ul {
 list-style: none;
}
blockquote,
q {
 quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

:root {
 --color-blue: #002772;
 --color-pink: #fde2ff;
 --color-black: #1e1e1e;
 --color-purple: #720060;
 --color-aqua: #d6e6ff;
 --color-black-semi: #3f3f3f;
 --color-gray: #dcdcdc;
 --color-white: #ffffff;
}

#app {
 font-family: Avenir, Helvetica, Arial, sans-serif;
 height: 100vh;
 width: 100vw;
}

.main {
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-position: 0 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.pink-background {
 background: linear-gradient(180deg, var(--color-pink) 70%, white 70%);
}

.blue-background {
 background: linear-gradient(180deg, var(--color-blue) 70%, white 70%);
}

.card {
 border-radius: 10px;
 color: var(--color-white);
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 width: 1034px;
 height: 580px;
 display: flex;
 gap: 68px;
 padding: 50px 56px 46px 56px;
 background-color: var(--color-white);
}

.card__image {
 display: flex;
 justify-content: center;
 align-items: center;
}

.card__image img {
 width: 306px;
 height: 407px;
}

.card__title {
 font-size: 28px;
 font-weight: 600;
 line-height: 34px;
 margin-bottom: 25px;
 height: 70px;
}

.card__title.woman-title {
 color: var(--color-purple);
}

.card__title.man-title {
 color: var(--color-blue);
}

.card__wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 26px;
 padding-bottom: 11px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card__category {
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 color: var(--color-black-semi);
}

.card__ratings {
 display: flex;
 align-items: center;
 gap: 5px;
}

.card__rating {
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 color: var(--color-black-semi);
}

.card__rating-stars {
 display: inline-block;
}

.card__star {
 display: inline-block;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 margin-right: 5px;
}

.card__star.woman-start {
 border: 1px solid var(--color-purple);
 background-color: transparent;
}

.card__star.man-start {
 border: 1px solid var(--color-blue);
 background-color: transparent;
}

.card__star.woman_filled {
 background-color: var(--color-purple);
 border: none;
}

.card__star.man_filled {
 background-color: var(--color-blue);
 border: none;
}

.card__description {
 height: 245px;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 color: var(--color-black);
}

.card__wrapper-description {
 padding-bottom: 63px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 margin-bottom: 16px;
}

.card__price {
 font-size: 28px;
 font-weight: 600;
 line-height: 34px;
}

.card__price.woman-price {
 color: var(--color-purple);
}

.card__price.man-price {
 color: var(--color-blue);
}

.card__cta {
 display: flex;
 gap: 19px;
 margin-top: 15px;
}

.card__btn {
 padding: 9px 89px;
 cursor: pointer;
 font-size: 20px;
 font-weight: 600;
 line-height: 24px;
 transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.card__btn.woman-btn {
 background-color: var(--color-purple);
 border: 3px solid var(--color-purple);
}

.card__btn.man-btn {
 background-color: var(--color-blue);
 border: 3px solid var(--color-blue);
}

.card__btn.button-buy {
 color: var(--color-white);
}

.card__btn.woman-button-next {
 background-color: transparent;
 color: var(--color-purple);
 border: 3px solid var(--color-purple);
}

.card__btn.man-button-next {
 background-color: transparent;
 color: var(--color-blue);
 border: 3px solid var(--color-blue);
}

/* Efek hover */
.card__btn.woman-btn:hover {
 background-color: transparent;
 border: 3px solid var(--color-purple);
 color: var(--color-purple);
}

.card__btn.man-btn:hover {
 background-color: transparent;
 border: 3px solid var(--color-blue);
 color: var(--color-blue);
}

.card__btn.woman-button-next:hover {
 background-color: var(--color-purple);
 color: var(--color-white);
 border: 3px solid var(--color-purple);
}

.card__btn.man-button-next:hover {
 background-color: var(--color-blue);
 border: 3px solid var(--color-blue);
 color: var(--color-white);
}

@media screen and (max-width: 768px) {
 .card {
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 70%;
  height: auto;
  text-align: center;
 }

 .card__image img {
  width: 100%;
  max-width: 150px;
  height: 150px;
 }

 .card__title {
  font-size: 20px;
  line-height: 24px;
  height: 48px;
 }

 .card__wrapper-description {
  padding-bottom: 26px;
 }

 .card__description {
  font-size: 14px;
  line-height: 20px;
  height: 100px; /* Tinggi maksimum lima baris pada font-size 14px */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Batasi pada lima baris */
  -webkit-box-orient: vertical;
 }

 .card__price {
  font-size: 20px;
  line-height: 28px;
 }

 .card__cta {
  flex-direction: column;
  gap: 15px;
 }
}

@media screen and (max-width: 450px) {
 .card {
  padding: 20px;
 }

 .card__category {
  text-align: start;
  width: 100%;
 }

 .card__wrapper {
  flex-direction: column;
  gap: 5px;
 }

 .card__ratings {
  width: 100%;
  justify-content: space-between;
  gap: 0;
 }

 .card__title {
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
 }

 .card__wrapper-description {
  padding-bottom: 26px;
 }

 .card__description {
  font-size: 14px;
  line-height: 20px;
  height: 60px; /* Tinggi maksimum tiga baris pada font-size 14px */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Batasi pada tiga baris */
  -webkit-box-orient: vertical;
 }

 .card__price {
  font-size: 20px;
  line-height: 24px;
 }

 .card__btn {
  padding: 7px 40px;
  font-size: 16px;
 }
}
